$carousel-control-icon-width: 8rem;
@import "../../App.scss";

.carousel-inner {
  width: 100%;
}
.list-genre {
  h1 {
    padding-left: 4rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    @include media-breakpoint-down(xxl) {
      padding-left: 2.5rem;
    }
    @include media-breakpoint-down(xl) {
      padding-left: 0.7rem;
    }
    @include media-breakpoint-down(lg) {
      padding-left: 0rem;
    }
    @include media-breakpoint-down(md) {
      padding-left: 4.3rem;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 0.2rem;
    }
  }
}
.carousel {
  .card-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .carousel-control-prev {
    left: -12rem;
    @include media-breakpoint-down(xxl) {
      display: none;
    }
  }

  .carousel-control-next {
    right: -12rem;
    @include media-breakpoint-down(xxl) {
      display: none;
    }
  }

  .carousel-item {
    .col {
      display: flex;
      justify-content: center;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    visibility: hidden;
    opacity: 1;
  }
  &:hover .carousel-control-prev,
  &:hover .carousel-control-next {
    visibility: visible;
    animation-duration: 1s;
    transition-timing-function: linear;
  }
  &:hover .carousel-control-prev {
    animation-name: FadeInPrev;
  }

  &:hover .carousel-control-next {
    animation-name: FadeInNext;
  }
  h1 {
    padding-left: 5rem;
  }
}

@keyframes FadeInPrev {
  0% {
    opacity: 0;
    padding-left: 40px;
  }
  100% {
    opacity: 1;
    padding-left: 0px;
  }
}

@keyframes FadeInNext {
  0% {
    opacity: 0;
    padding-right: 40px;
  }
  100% {
    opacity: 1;
    padding-right: 0px;
  }
}
